{%  set categories = {'عرنجي النحو':' entry-tag-category-grammar',
    'عرنجي الأسلوب':' entry-tag-category-style',
    'عرنجي المعنى':' entry-tag-category-meaning'} %}
    
    
    
<div class="entry-flex">

    <div class="entry-secondary-info">
        <p class="entry-tag entry-tag-origin">من {{entry.origin}}</p>
        {% if entry.category %} <p class="entry-tag entry-tag-category {{categories[entry.category]}}">{{entry.category}}</p> {% endif %}
    </div>
    
    
    <div class="entry-primary-info">
        <p class="entry-info-block">
            <label for="original" class="label">اللفظة الإفرنجية:</label>
            <span id="original" class="info">{{entry.original}}</span>
        </p>
        <p class="entry-info-block">
            <label for="translationese" class="label">اللفظة العرنجية: </label>
            <span id="translationese" class="info">{{entry.translationese}}</span>
        </p>

        {% if entry.corrections %}
        <div class="entry-info-block">
            <label for="corrections" class="label">المعنى المراد: </label>
            <ul id="corrections">
                {% for correction in entry.corrections%}
                <li class="correction info">{{correction['correction']}}</li>
                {%endfor%}
            </ul>
        </div>
        {% endif %}
        
        {% if entry.contexts %}
        <p class="entry-info-block">
            <label for="contexts" class="label">أمثلة وسياقات: </label>
            <ul id="contexts" class="vertical">
                {% for context in entry.contexts %}
                <li class="info context tr-context">{{context['trcontext']}}</li>
                <li class="info context ar-context">{{context['arcontext']}}</li>
                {%endfor%}
            </ul>
        </p>
        {% endif %}

        {% if entry.elaboration %}
        <p class="entry-info-block">
            <label for="elaboration" class="label">التعليل: </label>
            <p id="elaboration">{{entry.elaboration}}</p>
        </p>
        {% endif %}

        
    </div>
</div>