<!DOCTYPE html>
<html dir="rtl" lang="ar">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        
        <title>معجم العرنجيات</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}" type="text/css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap" rel="stylesheet">

        

        {% block more_css %} {% endblock %}
    </head>

    <body class="body">
        <header class="header">
            <div class="header-flex">
                <h1 class="header-website-title">
                    <a href= "{{ url_for('index') }}">
                        معجم العرنجيات         
                    </a>    
                </h1>
                <nav class="header-nav-bar">
                    <ul>
                        <li>
                            <a href= "{{ url_for('index') }}" >الصفحة العامة</a>
                        </li>
                        <li>
                            <a href= "{{ url_for('discord') }}" >مجلس الدسكورد</a>
                        </li>
                        <li>
                            <a href= "{{ url_for('add_entry') }}" >رصد الألفاظ</a>
                        </li>
                        {% if current_user.is_anonymous %}
                        <li>
                            <a href= "{{ url_for('login') }}" >{{ar.login}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a href= "{{ url_for('logout') }}" >{{ar.logout}}</a>
                        </li>
                        {% endif %}
                        {% if current_user.isadmin %}
                        <li>
                            <a href= "{{ url_for('pending') }}" >{{ar.accept}}</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- <input class="header-search box2" type="text" placeholder="البحث في المعجم">
            <p class="header-greeting-message">حللت أهلًا {{'زائرنا الكريم' if current_user.is_anonymous else 'يا ' + current_user.username }}</p>             -->
        </header>

        <main>

            
            <div class="main-content">
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                    <li class="{{ category }}"><strong>{{ message }}<strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

                {% block content %}{% endblock %}
            </div>
        </main>

        <footer>
        </footer>
    </body>

</html>