<!DOCTYPE html>
<html dir="rtl" lang="ar">

    <head>
        <meta charset="UTF-8">
        
        <title>معجم العرنجيات</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}" type="text/css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap" rel="stylesheet">

        

        {% block more_css %} {% endblock %}
    </head>

    <body >
        <header>
            <a href= "{{ url_for('index') }}"><h1 class="header-website-title">معجم العرنجيات</h1></a>
            <nav class="header-nav-bar">
                <a href= "{{ url_for('index') }}" >الصفحة العامة</a>
                <a href= "{{ url_for('discord') }}" >مجلس الدسكورد</a>
                <a href= "{{ url_for('add_entry') }}" >رصد الألفاظ</a>
                {% if current_user.is_anonymous %}
                <a href= "{{ url_for('login') }}" >{{ar.login}}</a>
                {% else %}
                <a href= "{{ url_for('logout') }}" >{{ar.logout}}</a>
                {% endif %}
                {% if current_user.isadmin %}
                <a href= "{{ url_for('pending') }}" >{{ar.accept}}</a>
                {% endif %}
            </nav>
            <input class="header-search" type="text" placeholder="البحث في المعجم">
            <p class="header-greeting-message">حللت أهلًا {{'زائرنا الكريم' if current_user.is_anonymous else 'يا ' + current_user.username }}</p>            
        </header>

        <main>

            
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                <li class="{{ category }}"><strong>{{ message }}<strong></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </main>

        <footer>
        </footer>
    </body>

</html>