{% extends "base.html" %}

{% block more_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home.css') }}" type="text/css">
{% endblock %}

{% block content %}

    <div class="home-flex">
        
        <div class="secondary-content">
            {%for entry in approvedentries%}
                <a href="{{url_for('entry_page', entryid=entry.id )}}"><span class="famous-word">{{entry.translationese}}</span></a>
            {% endfor%}
        </div>

        
        <div class="entry-listing primary-content">
            <h2>آخر المرصودات</h2>
    
            {%for entry in entries%}
    
                <section class="entry">
                    <div class="entry-info">
                        {%include '_entry.html'%}
                    </div>
                    <nav class="entry-action-bar">
                        <a href=" {{url_for ('entry_page', entryid=entry.id ) }} ">اطلاع</a>
                        {% if current_user.isadmin and not entry.approvedby %}
                            <a href=" {{url_for ('accept', entryid=entry.id ) }} ">قبول اللفظة</a> 
                        {% endif %} 
                    </nav>
                </section>
                <hr>
                     
            {%endfor%}
        </div>

        
        
    </div>
    
{% endblock %}