{% extends "base.html" %}

{% block content %}

    <div class="entry-listing">
        <h2>آخر المرصودات</h2>

        <div class="entry-listing-content">
            {% set ns = namespace(first=True) %}
            {%for entry in entries%}
                {% if ns.first == False %}
                    <div class="entry-seperator">

                    </div>
                {% endif %}
                {% set ns.first = False %}
                    
                <div class="entry">
                    {%include '_entry.html'%}
                </div>
                <div class="entry-action-bar">
                <a class="action" href=" {{url_for ('entry_page', entryid=entry.id ) }} ">اطلاع</a>
                {% if current_user.isadmin and not entry.approvedby %}
                    <a class="action" href=" {{url_for ('accept', entryid=entry.id ) }} ">قبول اللفظة</a> 
                {% endif %} 
                </div>
                 
            {%endfor%}

            {% if prev_url %}
                <a href="{{ prev_url }}">اللاحقة</a>
            {% endif %}
            {% if next_url %}
                <a href="{{ next_url }}">السابقة</a>
            {% endif %}
        </div>
    </div>
    
{% endblock %}