* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

.header a{
    color: #FFF8F3;
}

.header-nav-bar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.header-nav-bar li{
    margin: 0px 10px;
}

/* .header-flex{
    background-color: pink;
}

.header-nav-bar, .header-website-title{
    background-color: green;
} */

.header-search{
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 8px;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    float: center;
}

.flash-messages{
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgb(134, 106, 106);
}


.flash-messages .error{
    color: rgb(134, 106, 106);
    font-weight: bold;
}

.header{
    background-color: #405D72;
    color: white;
    margin-bottom: 64px;
    padding: 50px 30px;   
}

.main-content{
    padding: 0px 30px;
}

.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    flex-shrink: initial;
}

.header-flex, .main-content{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}



.body{
    background-color: #FFF8F3;;
    color: black;
    font-family: tajawal;
    font-size: medium;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
