

.correction, .context{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    margin: 0.1rem;
}

.correction{
    background-color: #F7E7DC;
    display: inline-block;
}

#corrections, #contexts{
    list-style: none;
}

.tr-context:before{
    content: "لا تقل: ";
    color: red;
}

.ar-context:before{
    content: "بل قل: ";
    color: green;
}


.info{
    color: dimgray;
}

.label{
    color: black;
}

.entry-info-block{
    margin-bottom: 10px;
}
.entry-action-bar a {
    color: black;
    font-weight: bold;
}

.entry-flex{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.entry-tag{
    min-width: 90px;
    border-radius: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    margin-bottom: 8px;
    font-size: small;
    color: white;
}

.entry-tag-origin{
    background-color: #758694;
}

.entry-tag-category{
    background-color: grey;
}

.entry-tag-category.entry-tag-category-style{
    background-color: lightsteelblue;
}
.entry-tag-category.entry-tag-category-grammar{
    background-color: darkseagreen;
}
.entry-tag-category.entry-tag-category-meaning{
    background-color: lightpink;
}

.entry-action-bar{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.entry-submission-info{
    margin-top: 20px;
}