
.homepage-entry{
    margin: 20px 0px;
}

.home-flex{
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}


.secondary-content{
    flex: 1;
}

.primary-content{
    flex: 4;
}

.entry-listing-seperator{
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.253);
}

.famous-word{
    border-radius: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    margin-bottom: 8px;
    font-size: medium;
    /* background-color: rgba(0, 0, 0, 0.219); */
    color: rgba(0, 0, 0, 0.329);
}


@media (max-aspect-ratio: 1) {
    .secondary-content {
      visibility: hidden;
      display: none;
    }
  }