html{
    font-size: medium;
}

body{
    background-color: gainsboro;
    color: black;
}

a, a:visited{
    color: rgb(107, 64, 46);
    text-decoration: none;
}

a:hover, a:active{
    color: grey;
}

hr {
    color: rgb(255, 255, 255);
}

.top {
    background-color: rgba(218, 206, 199, 0.295);
    padding: 1px;

}


.footer{
    text-align: center;
}


.errors{
    color: red;
}

#register-prompt{
    text-align: center;
}

.action:before{
    content: "<";
}

.action:after{
    content: ">";
}


.main, .top-content {
    margin-inline: max(0px,50% - 800px/2);
}


.entry{
    padding: 10px;
    background-color: rgba(218, 206, 199, 0.295);
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    margin: 0.1rem;
}

.entry-seperator{
    padding: 20px;
}

.entry-listing-content{
    margin-right: 5%;
}

.entry-action-bar{
    padding: 2px;
}